@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/futura/FuturaBookC-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }

@font-face {
  font-family: 'Futura Demi';
  src: url('../fonts/futura/FuturaDemiC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }

@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/futura/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src: url('../fonts/futura/FuturaLightC-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

// @font-face {
//   font-family: 'Yeseva One', cursive;
//   src: url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
//   font-weight: normal;
//   font-style: normal;
// }

  