.button
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  &:hover
    cursor: pointer
.contacts__button
  background-color: $primary
  color: $light
  box-shadow: 0px 5px 15px rgba($primary, 0.2)
  transition: box-shadow 0.3s
  padding: 10px 15px

.button_primary 
  background-color: $primary
  color: $light
  margin-right: 20px
  box-shadow: 0px 5px 15px rgba($primary, 0.2)
  transition: box-shadow 0.3s
  padding: 18px 17px
  &:hover
    box-shadow: none

.button_outline
  color: $light
  border: 1px solid $light
  border-radius: 2px;
  background-color: transparent
  padding: 17px 37px

.lable
  font-size: 1.07rem

.label_light
  color: rgba($light, 0.5)

.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(255, 255, 255, 0.15)
  font-size: 1.285rem
  color: $light
  padding: 0.57rem 0 0.57rem 0
.label_light, .input_light
  &::placeholder // prefix needs for other browser webkit
    color: $light

  // margin-bottom: 47px
// .form__lable
//   margin-top: 7px

// .policy__checkbox
//   // background-color: trensparent
//   opacity: 0
//   visibility: hidden
//   &:checked + 
//     .policy__label
//       &::before
//         background: $primary url("../../img/check-policy.svg") no-repeat center / 0.8rem
    

// .policy__label
//   display: flex
//   align-items: center
//   &::before
//     content: ""
//     width: 18px
//     height: 18px
//     border: 1px solid $primary
//     border-radius: 1px
//     cursor: pointer
//     margin-right: 0.64rem
// .modal__policy 
//   margin-bottom: 2.78rem

// .modal__button 
//   align-self: flex-end


.back-to-top 
  position: fixed;
  right: 30px;
  bottom: 45px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: orange;
  opacity: 0.6;
  display: none;
  z-index: 5

.back-to-top:hover,
.back-to-top:focus 
  opacity: 1;


.back-to-top::before,
.back-to-top::after 
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%)


.back-to-top::before 
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;


.back-to-top::after 
  width: 15px;
  height: 15px;
  transform: translate(-50%, -65%) rotate(45deg);
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
