// @media screen and ( max-width: 1200px )
//   html
//     font-size: 12px
//   .nav
//   &__item
//       margin-right: 1rem

@media screen and ( max-width: 1299px )
  .nav__item
    margin-right: 1.1rem

@media screen and ( max-width: 1075px )
  .nav__item
    font-size: 11.5px  

@media screen and ( max-width: 1250px )
  html
    font-size: 13px
  .nav
  &__item
      // margin-right: 1rem

@media screen and ( max-width: 1110px )
  .nav__item
    margin-right: 0.5rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none

// @media screen and ( max-width: 600px )

@media screen and ( max-width: 576px )
  .desing
    background-color: $dark
    color: $light
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-transform: none
    &__button
      display: none

  .title
    font-size: 1.5rem
    line-height: 132.83%;

  .hero
    &__button
      display: block
      min-width: 100%
      padding: 18px 0
      margin-bottom: 1rem
    &__content
      // max-width: 22.85rem
      // width: 100%
      margin: 0 auto
      margin-bottom: -61px

    &__text
      font-size: 1.35rem
      width: 90%
    .hero__scroll-down
      display: none
    
  .hero__content
    position: relative
  .button_primary
    margin: 35px 0px 0px 0px
  .hero__title
    margin-top: 16px
  .button_primary
    margin-top: 54px
  .button_outline
    margin: 0
    position: absolute
    // bottom: 20px
    margin-top: 20px
  .hero__container
    height: 350px
  .hero__content
    height: 100%

@media screen and ( max-height: 535px )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 925px )
  .row-3
    flex-direction: column
    align-items: center
    .types__card
      margin-bottom: 5.714rem
  .card__pricetag
    font-size: 1.450rem
  .card
    &__text
      margin-top: -10.50rem
      max-width: 24rem
      height: 295px
    &__title
      font-size: 1.195rem
      margin-top: 0px
    &__list
      padding-left: 1.10rem
      // margin: 0
      margin-top: -0.3rem
      // font-size: 1.000rem
      line-height: 2.05rem
  .card
    &__text
      margin-left: 0
  .section_title__heading
    font-size: 2.2rem
  .desing__card_text1
    height: 213px
    margin-top: -132px;
    margin-bottom: 60px
  .desing__card_text2
    height: 294px
    margin-top: -122px
    margin-bottom: 60px
  .desing__card_text3
    height: 290px
    margin-top: -120px
    margin-bottom: 60px
  .card__list
    overflow: hidden
    height: 80%
  .desing__card_item
    font-size: 1.2rem

@media screen and ( max-width: 1517px )
  .logo
    margin-left: 0

@media screen and ( max-width: 365px )
  .hero__title
    font-size: 24px
  .hero__text
    font-size: 18px
  .logo
    font-size: 12px
  .phone
    font-size: 13px

@media screen and ( max-height: 475px )
  .hero__title
    font-size: 20px
  .hero__text
    font-size: 15px

@media screen and ( max-width: 924px )
  .card__pricetag_desing
  bottom: 0