// @media screen and ( max-width: 1200px )
//   html
//     font-size: 12px
//   .nav
//   &__item
//       margin-right: 1rem

@media screen and ( max-width: 1299px )
  .nav__item
    margin-right: 1.1rem

@media screen and ( max-width: 1075px )
  .nav__item
    font-size: 11.5px  

@media screen and ( max-width: 1250px )
  html
    font-size: 13px
  .nav
  &__item
      // margin-right: 1rem

@media screen and ( max-width: 1110px )
  .nav__item
    margin-right: 0.5rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none

// @media screen and ( max-width: 600px )


@media screen and ( max-width: 576px )
  .hero 
    height: 537px
  .menu__logo
    font-size: 0.989rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-transform: none
      font-size: 0.944rem
    &__button
      display: none

  .title
    font-size: 18px
    line-height: 132.83%;

  .hero
    &__title
      font-size: 1.769rem
      margin-top: 166px
    &__button
      display: block
      min-width: 100%
      padding: 18px 0
      margin-bottom: 1rem
    &__content
      margin: 0 auto
      margin-top: -80px
      position: relative
      height: 370px

    &__text
      font-size: 1.299rem
      width: 90%
      line-height: 135.84%
      margin-bottom: 49px
      height: 79px
    .hero__scroll-down
      display: none

  .button_primary
    margin: 0px 0px 0px 0px
  .button_outline
    margin: 0
    position: absolute
    margin-top: 28px
  .hero__container
    // margin-top: 60px
  .section_subtitle 
    width: 100%



@media screen and ( max-height: 535px )
  .hero
    &__scroll-down
      display: none



@media screen and ( max-width: 925px )
  .row-3
    flex-direction: column
    align-items: center
    .types__card
      margin-bottom: 5.714rem
  .card__pricetag
    font-size: 1.450rem
  .card
    &__text
      margin-top: -10.50rem
      max-width: 24rem
      height: 295px
    &__title
      margin-top: 0px
    &__list
      padding-left: 1.10rem
      // margin: 0
      margin-top: -0.3rem
      font-size: 0.999rem
      line-height: 2.05rem
  .section__subtitle_span
    font-size: 1rem
  .card
    &__text
      margin-left: 0
  .section_title__heading
    font-size: 1.699rem
  .desing__card_text1
    height: 213px
    margin-top: -132px;
    margin-bottom: 60px
  .desing__card_text2
    height: 294px
    margin-top: -122px
    margin-bottom: 60px
  .desing__card_text3
    height: 290px
    margin-top: -120px
    margin-bottom: 60px
  .card__list
    overflow: hidden
    height: 80%

  .card__title_desing
    font-size: 1.071rem
  .desing__card_item
    font-size: 0.928rem

@media screen and ( max-width: 1517px )
  .logo
    margin-left: 0

@media screen and ( max-width: 365px )
  .hero__title
    font-size: 18px
  .hero__text
    font-size: 14px
    line-height: 19px

@media screen and ( max-height: 475px )
  .hero__title
    font-size: 20px
  .hero__text
    font-size: 15px

@media screen and ( max-width: 924px )
  .card__pricetag_desing
  bottom: 0

@media screen and ( max-width: 924px )
  .desing
    background-color: $dark
    color: $light
