// @media screen and ( max-width: 1200px )
//   html
//     font-size: 12px
//   .nav
//   &__item
//       margin-right: 1rem
  
@media screen and ( max-width: 1299px )
  .nav__item
    margin-right: 1.1rem

@media screen and ( max-width: 1075px )
  .nav__item
    font-size: 11.5px  

@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .nav
  &__item
      // margin-right: 1rem

@media screen and ( max-width: 1110px )
  .nav__item
    margin-right: 0.5rem

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none

// @media screen and ( max-width: 600px )

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-transform: none
    &__button
      display: none

  .title
    font-size: 2.3rem
    line-height: 132.83%;

  .hero
    &__button
      display: block
      min-width: 100%
      padding: 23px 0
      margin-bottom: 2rem
    &__content
      // max-width: 22.85rem
      // width: 100%
      margin: 0 auto
      margin-bottom: -61px

    &__text
      font-size: 1.68rem
      width: 100%
      line-height: 145.84%
      margin-bottom: 2.21rem
    .hero__scroll-down
      display: none
    
    

@media screen and ( max-height: 535px )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 925px )
  .row-3
    flex-direction: column
    align-items: center
    .types__card
      margin-bottom: 5.714rem
  .card
    &__text
      margin-left: 0
