*, *:before, *:after
  box-sizing: border-box

body 
  box-sizing: border-box
  font-family: "Futura Book"
  font-size: 14px

section 
  padding: 60px 0px

img
  max-width: 100%

html
  box-sizing: border-box
  font-size: 1rem

.section_dark 
  background-color: $dark
  color: $light
.section_title__heading__primary
  color: $primary
  line-height: 37px
  margin-bottom: 20px
  font-family: 'Yeseva One', cursive
  font-size: 1.528rem
.section_title__left
  text-align: left
.section_title__word
  display: flex
  align-items: center
.section__title_text
  text-transform: none 
  font-size: 18px
  line-height: 30px
  width: 442px
  font-family: "Futura Book", sans-serif;
  font-style: normal;
  font-weight: normal;

.section_title__word::after
  content: ""
  width: 92px
  height: 1px
  background-color: $primary
  margin-left: 2rem