.hero 
  position: relative
  background: $dark url("../img/hero-bg.jpg") no-repeat center / cover
  height: 100vh
  color: $light

  &__instagram
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    left: 0
    max-width: 91px;
    background-color: $dark
    height: 100%
.instagram__link
  // display: inline-block
  text-transform: uppercase
  text-decoration: none
  color: $light
  transform: rotate(90deg)
.title
  margin: 0
