.section_title_left
  text-align: left !important
  font-family: 'Yeseva One', cursive

.section_title__heading
  line-height: 37px
  font-size: 1.699rem
  font-family: "Yeseva One", cursive

.section_title__heading_after
  display: flex
  align-items: center

.section_title__heading_after::after
  content: ""
  background-color: $primary
  width: 92px
  height: 1px
  margin-left: 2rem

.section_title__text
  font-size: 14.5px
  line-height: 29px
  text-transform: none
  font-weight: 100
  max-width: 515px
  margin-bottom: 27px

.swiper_slide__text_i
  display: inline-block
.swiper_slide__text_b
  display: inline-block

.swiper_slide__text
  min-width: 30%
  margin-bottom: 22px
  margin-right: 0px


.swiper__slide_heading
  margin-bottom: 10px
  
.swiper__slide_heading_primary
  color: $primary
  text-transform: uppercase

.swiper__slide_heading
  font-size: 1.240rem

.swiper-pagination-bullet
  background-color: rgb ($light 0.3)
.swiper-pagination-bullet-active
  background-color: #fff

.swiper-container-horizontal>.swiper-pagination-bullets
  bottom: 0
  top: 260px

.swiper-button-prev::after,
.swiper-button-next:after
  display: none

.swiper-button-next,
.swiper-button-prev
  bottom: 0
  margin-top: 103px

.swiper-button-prev
  left: 0
  background: url("../../img/arrow-prev.svg") no-repeat center
  width: 41px
  height: 14px

.swiper-button-next
  background: url("../../img/arrow-next.svg") no-repeat center
  width: 41px
  height: 14px

.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px

.swiper-slider__img


.img-projects
  min-width: 628px

