.types
  &__section_title
    margin-bottom: 2.100rem
.row-3 
  left: 0
  top: 0
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  flex-basis: 32%
.card
  &__text
    // border: 2px solid red
    position: relative
    margin: 0 auto
    padding-left: 2.214rem
    padding-right: 2.214rem
    padding-bottom: 2rem
    margin-top: -9rem
    max-width: 20.7rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: "Yeseva One", cursive
    font-size: 1.28rem
    padding-top: 1.55rem
  &__list
    padding-left: 1rem
    margin: 0
    margin-top: -0.95rem
    color: $secondary
    font-size: 1.07rem
    line-height: 1.60rem
    padding-bottom: 2.07rem
  &__items
    // margin-top: -15px
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.95rem
    font-family: "Yeseva One", cursive normal normal
    text-transform: uppercase
    font-size: 1.28rem
    padding: 1.214rem 2.100rem
    color: $light
    background: #E3B873
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
